pipeline/changetracking.json
{
	"name": "changetracking",
	"properties": {
		"activities": [
			{
				"name": "Lookuplastcgangetrackingactivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM table_store_ChangeTracking_version;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "changetrackingtable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookupnewchangingactivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion FROM table_store_ChangeTracking_version;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "changetrackingtable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Incrementalcopychangetracking",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookuplastcgangetrackingactivity",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookupnewchangingactivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select DBO.RETURNDETAILS.PAN,DBO.RETURNDETAILS.DATEFILED,DBO.RETURNDETAILS.NAME,DBO.RETURNDETAILS.UIDNUM,DBO.RETURNDETAILS.DOB,DBO.RETURNDETAILS.INCOME,\n CT.SYS_CHANGE_VERSION, \nSYS_CHANGE_OPERATION from DBO.RETURNDETAILS\n RIGHT OUTER JOIN CHANGETABLE(CHANGES DBO.RETURNDETAILS, @{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.SYS_CHANGE_VERSION}) \nas CT on DBO.RETURNDETAILS.PAN = CT.PAN where CT.SYS_CHANGE_VERSION <= @{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "changetrackingtable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedTextchangetracking",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "StoredProceduretoUpdateChangeTrackingActivity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Incrementalcopychangetracking",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Update_ChangeTracking_Version]"
				},
				"linkedServiceName": {
					"referenceName": "changetrackinglinked",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}